<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>
    <ul>
        <li sec:authorize="!isAuthenticated()"><a href="#" th:href="@{/signIn}">로그인</a></li>
        <li sec:authorize="isAuthenticated()"><a href="#" th:href="@{/signOut}">로그아웃</a></li>
        <li sec:authorize="!isAuthenticated()"><a href="#" th:href="@{/signUp}">회원가입</a></li>
        <li sec:authorize="isAuthenticated()"><a href="#" th:href="@{/board/boardList/all}">전체 게시판</a></li>
        <li sec:authorize="isAuthenticated()"><a href="#" th:href="@{/comments}">댓글</a></li>
    </ul>

<h2 th:text="${in}"></h2>
<h2 th:text="${sessionId}"></h2>

</body>
</html>