<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>회원 가입</title>
</head>
<body>
  <h2>Sign-In</h2>
<!-- signUpForm field 조건 내용과 다르면 왜 small을 출력하지 않지? -->
  <form action="#" th:action="@{/signIn}" th:object="${signInDto}" method="post" novalidate>
    <label for="email">이메일</label>
    <input id="email" type="text" th:field="*{email}" required>
    이메일 형식
    <small th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</small>

    <br/>

    <label for="password">비밀번호</label>
    <input id="passWord" type="password" th:field="*{password}" required minlength="8" maxlength="50">
    8에서 20자사이
    <small th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</small>

    <br/>
    <input type="checkbox" th:field="*{remember}">아이디 기억
    <input type="submit" value="로그인">
  </form>
</body>
</html>